@keyframes pulse {
    50% {
      transform: scale(1.1);
      opacity: 0.90;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

/* Анимашка кнопки */
.animation {
    animation: tada 1s, pulse 2s infinite 2s;
}

.reg {
    /* infinite — бесконечная анимация */
    animation: pulse 2s infinite;
}
