#cookie_alert{
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: 2000px;
    max-width: 90%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.699);
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

p.cookie {
    font-size: calc(7px + 8 * (100vw / 1280));
}

@media (min-width: 1400px) and (max-width: 2000px) { 
    p.cookie {
        font-size: 14px;
    }
}
  
  
@media (min-width: 576px){
    #cookie_alert.show{
        display: flex;
        background-color: rgba(255, 255, 255, 0.699);
    }
}
  
@media (max-width: 575px){
    #cookie_alert.show{
        display: block;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.925);
    }
}

.cookie_butt {
    background-color: #5b3296;
    color: #fff;
    font-family: 'pixel', sans-serif;
    display: inline-block;
    padding: 0.4em 0.8em;
    border: none;
    border-radius: 4px;
    font-size: calc(6px + 6 * (100vw / 1280));
    line-height: 30px;
    transition: 1.2s;
}