/* .accordion-button {
  background-color: #2E222F !important;
  color: white !important;
}  */

/* .accordion-collapse.collapse.show .accordion-body {
    background-color: #2E222F !important;
    color: white !important;
} */

/* h2#panelsStayOpen-headingThree.accordion-header {
    color: #2E222F !important;
} */

/* button.accordion-button::before {
  fill: #fff !important;
  color: #fff !important;
} */

/* button.accordion-button.collapsed::after {
  fill: #fff !important;
  color: #fff !important;
} */

/* button.accordion-button.collapse::after {
  fill: #fff !important;
  color: #fff !important;
} */

.accordion {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.accordion-header {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  fill: #fff !important;
}

.directory-photo {
  width: 800px;
  max-width: 100%;
  height: auto;
}