#element {z-index: 30;}
#element02 {z-index: 40;}

.element {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.element .bg {
  width: 100%;
  height: 100%;
  background-position: left top;
  background-size: calc(8vw - 4px);
}

.element.fire .bg {background-image: url("/web/img/fire.gif");}
.element.water .bg {background-image: url("/web/img/water.gif");}
.element.steam .bg {background-image: url("/web/img/steam.gif");}
.element.wind .bg {background-image: url("/web/img/wind.gif");}
.element.cloud .bg {background-image: url("/web/img/cloud.gif");}
.element.magic .bg {background-image: url("/web/img/wow.gif");}

@media(max-width:456px) {
.element .bg {background-size: 13vw !important;}}

@media (min-width: 300px) and (max-width: 991px) {
.element .bg {background-size: calc(14vw - 4px);}}