/* Элементы с этим id отоброжаются первым планом */
#element {
  z-index: 30;
}

#element02 {
  z-index: 40;
}

.element,
.treatment {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.treatment {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.element .bg,
.treatment .bg {
  width: 100%;
  height: 100%;
  background-position: left top;
  background-size: calc(8vw - 4px);
}

.element.fire .bg {
  background-image: url("/web/img/fire.gif");
}

.element.water .bg {
  background-image: url("/web/img/water.gif");
}

.element.fire.correct .bg {
  background-image: url("../images/fires-correct.svg");
}

.element.water.correct .bg {
  background-image: url("../images/waters-correct.svg");
}

.treatment.fire .bg {
  background-color: rgba(81, 140, 179, 1);
  background-image: url("/web/img/water.gif");
  animation: scroll 6s linear infinite;
}

.treatment.water .bg {
  background-color: #63393E;
  background-image: url("../images/poison.svg");
  animation: scroll 6s linear infinite;
}


@media (min-width: 350px) and (max-width: 991px) {
  .element .bg,
  .treatment .bg {
      width: 100%;
      height: 100%;
      background-position: left top;
      background-size: calc(16vw - 4px);
  }
}


.element.magic .bg {
  background-image: url("/web/img/wow.gif");
}


/* ПОБЕДА */
.element.steam .bg {
  background-image: url("/web/img/steam.gif");
}