.text {
    background-color: #120c1d9a;
    padding: 15px;
    text-indent: 25px;
    /* width: 75%; */
    margin: 0 auto;
}

div.text p {
    font-size: calc(10px + 8 * (100vw / 1280));
}

@media (min-width: 1400px) and (max-width: 2000px) { 
    div.text p {
        font-size: 20px;
    }

    .text {
        background-color: #120c1d9a;
        padding: 15px;
        text-indent: 25px;
        margin: 0 auto;
        width: 80%;
    }
}