@media (min-width: 350px) and (max-width: 432px) {
    #editor, pre {
        font-size: 85%;
        line-height: 1.5;
        margin: 0;
    }
    
    .line-numbers {
        height: 100%;
    }
    
    button#next {
        font-size: 90%;
    }

    /* #view {
        padding: 1em 0 1em 0;
    }
  
    #board {
        width: 80vw;
        height: 70vw;
        margin: auto;
    }
    
    #level-counter {
        font-size: 75%;
    } */
}

/* Игровое поле */
@media (min-width: 350px) and (max-width: 991px) {
    #view {
        padding: 1em 0 1em 0;
    }
    
    #board {
        width: 80vw;
        height: 70vw;
        margin: auto;
    }
    
    #level-counter{
        font-size: 75%;
    }
    
    #editor, pre {
        font-size: 100%;
        line-height: 1.5;
        margin: 0;
    }

    /* .element .bg,
    .treatment .bg {
        width: 100%;
        height: 100%;
        background-position: left top;
        background-size: calc(16vw - 4px);
    } */
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}