/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!! Верхняя часть страницы !!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* Инструкция */
#instructions {padding-top: 1rem;}
  
#instructions, #instructions p, #instructions ul {
    padding-bottom: 1em;
    font-size: calc(7px + 7 * (100vw / 1280));
}

.text-instructions {
    background-color: #0c09139a;
    padding: 15px;
    margin: 0 auto;
}

code {
    font-size: 0.875em;
    color: #d9ff00;
    word-wrap: break-word;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!! Правая часть страницы !!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* Редактор кода */
#editor {position: relative;}
  
#editor, pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 100%;
    line-height: 1.5;
    color: #777;
    margin: 0;
}
  
#css {
    height: 420px;
    position: relative;
    padding: 10px 20px 10px 40px;
    background-color: #282A36;
    border-radius: 4px;
    overflow: hidden;
}

/* Поле для ввода кода (стих) */
input[type=range]  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 1px solid #a683d6;
    /* background: #a683d6; */
    border-radius: 10px;
    margin: 10px;
}

input[type=range]::-webkit-slider-thumb {
    background: #674e8d;
    border: #674e8d;
    border-radius: 10px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    -webkit-appearance: none;
}

#code {
    display: block;
    width: calc(100% - 45px);
    height: 21px;
    margin-left: 16px;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 100%;
    outline: none;
    resize: none;
    overflow: hidden;
}

/* Кнопка дальше */
button#next {
    display: inline-block;
    padding: 0.4em 0.8em;
    background-color: #5b3296;
    border: none;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    appearance: none;
}

#next {
    position: absolute;
    right: 1em;
    bottom: 1em;
    padding-top: 0.3em;
}

/* Циферки */
.line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 6px;
    text-align: right;
    /* Можно и без фона */
    background-color: #0000001c; 
    color: #868D9A;
}
  
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!! Левая часть страницы !!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  
/* Игровое поле */
#board {
    position: sticky;
    top: 1em;
    width: 40vw;
    height: 33.49vw;
    min-width: 300px;
    min-height: 300px;
    max-width: calc(100vh - 2em);
    max-height: calc(100vh - 2em);
    border: 12px solid #996b3d;
    border-bottom: 40px solid #996b3d;
}
  
/* Ячейки игрового поля */
#element02, #element, #surface, #overlay {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Не знаю, что это */
#surface {
    background-color: #523D1F;
    overflow: hidden;
}
  
/* Ячейки поля */
.piece {
    width: 100%;
    height: 100%;
    background-image: url("/web/img/wood.png");
    background-size: calc(10vw - 1px);
}
  
/* Полоски между квадратиками */
#overlay .piece {
    z-index: 50;
    background: none;
    box-shadow: inset 5px 5px 0 rgb(255 255 255 / 5%), inset -2px -2px 0 #854e0033;
}

/* Счетчик уровней */
#level-counter {
    position: absolute;
    display: inline-block;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 90%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100; 
}
  
/* Стрелки (треугольники) */
.triangle {
    display: inline-block; /* Строчно-блочное отображение (Выстраиваем элементы в ряд, а не друг под другом) */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

/* Ширина стрелок */
.left .triangle {border-right: 14px solid rgba(255, 255, 255, 0.7);}
.right .triangle {border-left: 14px solid rgba(255, 255, 255, 0.7);}


/* MEDIA */
@media (min-width: 300px) and (max-width: 432px) {
    #editor, pre {
        font-size: 85%;
        line-height: 1.5;
        margin: 0;
    }
    
    .line-numbers {height: 100%;}
    button#next {font-size: 90%;}

    /* #view {padding: 1em 0 1em 0;}
    #board {width: 80vw;height: 70vw;margin: auto;}
    #level-counter {font-size: 75%;} */
}


@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}


/* Игровое поле */
@media (min-width: 454px) and (max-width: 991px) {
    #view {padding: 1em 0 1em 0;}
    
    #board {
        width: 70vw;
        height: 60.8vw;
        margin: auto;
    }
    
    #level-counter{font-size: 75%;}

    #editor, pre {
        line-height: 1.5;
        margin: 0;
    }

    #code {
        height: 16px;
        font-size: 85%;
    }
    
    #css {height: 365px;}
}
@media (min-width: 435px) and (max-width: 454px) {
    #board {
        width: 74vw;
        height: 60.8vw;
        margin: auto;
    }
    
    .element .bg, .treatment .bg {background-size: 13vw !important;}

    #view {padding: 1em 0 1em 0;}
    #level-counter{font-size: 75%;}
    
    #editor, pre {
        line-height: 1.5;
        margin: 0;
    }

    #code {
        height: 16px;
        font-size: 85%;
    }

    #css {height: 365px;}
}

@media (min-width: 400px) and (max-width: 434px) {
    #board {
        width: 77vw;
        height: 60.8vw;
        margin: auto;
    }

    #level-counter{font-size: 75%;}

    #css {height: 365px;}

    #editor, pre {
        line-height: 1.3;
        font-size: 85%;
    }

    .element .bg, .treatment .bg {background-size: calc(16vw - 7px) !important;}
}

@media (min-width: 350px) and (max-width: 399px) {
    #board {
        width: 63vw;
        height: 68.4vw;
        margin: auto;
        min-height: 250px;
    }

    #level-counter{font-size: 75%;}
    #css {height: 365px;}
    #editor, pre {line-height: 1.3; font-size: 85%;}

    .element .bg, .treatment .bg {background-size: calc(16vw - 7px) !important;}
}

@media (min-width: 300px) and (max-width: 349px) {
    #board {
        width: 63vw;
        height: 78.16vw;
        margin: auto;
        min-height: 250px;
    }

    #level-counter{font-size: 75%;}
    #css {height: 365px;}

    #editor, pre {line-height: 1.3; font-size: 85%;}

    .element .bg, .treatment .bg {background-size: calc(18vw - 7px) !important;}
}