/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!1!!! ШРИФТ !!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@font-face {
  font-family: 'pixel';
  src: url(/web/fonts/18959.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!! ЗАГРУЗКА САЙТА !!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #2E222F;
  z-index: 5000;
}

.preloader__image {
  position: relative;
  top: 40%;
  left: 45%;
  width: 150px;
  height: 200px;
  background: url('/web/img/magic.gif') no-repeat 50% 50%; /*расположение (url) изображения gif и др. параметры*/
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {display: none;}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!  ОБЩИЕ СТИЛИ САЙТА !!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

main > .container {padding: 70px 15px 20px;}

/* Тело */
body {
  color:white;
  display: flex;
  background-image: url("/web/img/xl-back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2E222F;
  height: 100%;
  width: 100%;
  font-family: 'pixel', sans-serif;
}

@media (min-width: 961px) and (max-width: 1920px) {
  body {background-image: url("/web/img/xl-back.png");}
}
@media (min-width: 721px) and (max-width: 960px) {
  body {background-image: url("/web/img/lg-back.png");}
}
@media (min-width: 577px) and (max-width: 720px) {
  body {background-image: url("/web/img/md-back.png");}
}
@media (min-width: 300px) and (max-width: 576px) {
  body {background-image: url("/web/img/sm-back.png");}
}

/* Шапка */
.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.5rem;
  justify-content: space-between;
}

#footer {background-color: #120c1dcb; color: #fff;}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}
.footer > .container {padding-right: 15px; padding-left: 15px;}

.not-set {color: #c55; font-style: italic;}

table td {color: #fff !important; background-color: #120c1d70 !important;}
table th {background-color: #120c1d70 !important; color: #fff !important;}
table th:nth-child(1) {color: #fff;}

.form-control {background-color: #120c1d70; color: #fff;}

a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {border-bottom: solid 7px #212529; border-top-width: 0;}
a.desc:after {border-top: solid 7px #212529; border-bottom-width: 0;}
a {color: #ffffff; text-decoration: none !important;}
a:hover {color: #ffffff;}

.grid-view th {white-space: nowrap;}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


li a{color: white; text-decoration: none;}
li {list-style-type: none;}
li.breadcrumb-item.active {color: #cecece;}

.nav li > form > button.logout {padding-top: 7px; color: rgba(255, 255, 255, 0.5);}
.nav > li > form > button.logout:focus, .nav > li > form > button.logout:hover {text-decoration: none; color: rgba(255, 255, 255, 0.75);}
.nav > li > form > button.logout:focus {outline: none;}
.navbar {background-color: #120c1dcb;}

/* Форма входа */
.mb-3.row.field-loginform-username.required,
.mb-3.row.field-loginform-password.required,
.col-form-label.mr-lg-3 {
    /* Так надо, чтобы не затрагивать стили */
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.bg-form {background-color: #0c09139a; padding: 15px; margin: 0 auto;}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!! INDEX.PHP !!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.text {
  background-color: #120c1d9a;
  padding: 15px;
  text-indent: 25px;
  /* width: 75%; */
  margin: 0 auto;
}

div.text p {font-size: calc(10px + 8 * (100vw / 1280));}

@media (min-width: 1400px) and (max-width: 2000px) { 
  div.text p {font-size: 20px;}

  .text {
      background-color: #120c1d9a;
      padding: 15px;
      text-indent: 25px;
      margin: 0 auto;
      width: 80%;
  }
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!! DIRECTORY.PHP !!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.accordion {background-color: rgba(255, 255, 255, 0.8) !important;}
.accordion-header {background-color: rgba(255, 255, 255, 0.8) !important;}
.accordion-button:not(.collapsed) {color: #000 !important; fill: #fff !important;}
.directory-photo {width: 800px; max-width: 100%; height: auto;}
.accordion-body code {font-size: 0.875em; color: #ad0000;word-wrap: break-word;}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!! ADMIN|ADMIN.PHP !!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.admin-panel {width: 300px; max-width: 100%; height: auto;}
.admin-butt {background-color: #00000075;}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!! PROFILE.PHP !!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.user-photo {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.user-data-bg {background-color: #120c1d70;}
.user-data{font-size: calc(9px + 7 * (100vw / 1280));}

tr td.user-data {font-size: calc(9px + 7 * (100vw / 1280));}

@media (min-width: 1250px) and (max-width: 2000px) { 
.user-data{font-size: 25px;}
}

.update-btn {
  background-color: #5b3296;
  color: #fff;
  font-family: 'pixel', sans-serif;
  display: inline-block;
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  transition: 1.2s;
  cursor: pointer;
}

.update-btn:hover {
  background-color: #502886;
  color: #fff;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!! КНОПКИ И АНИМАЦИИ !!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.reg {
  background-color: #5b3296;
  color: #fff;
  font-family: 'pixel', sans-serif;
  display: inline-block;
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 4px;
  font-size: calc(8px + 7 * (100vw / 1280));
  line-height: 30px;
}

.butt {
  background-color: #5b3296;
  color: #fff;
  font-family: 'pixel', sans-serif;
  display: inline-block;
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 4px;
  font-size: calc(7px + 7 * (100vw / 1280));
  line-height: 30px;
  transition: 1.2s;
}

.reg:hover,
.butt:hover,
.reg:focus,
.butt:focus,
.reg:active,
.butt:active {
  background-color: #502886;
  color: #fff;
}

@keyframes pulse {
  50% {transform: scale(1.1); opacity: 0.90;}
  100% {transform: scale(1); opacity: 1;}
}

.animation {animation: tada 1s, pulse 2s infinite 2s;}
.reg {animation: pulse 2s infinite;}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!! КУКИ !!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#cookie_alert{
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 15px;
  left: 50%;
  width: 2000px;
  max-width: 90%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

p.cookie {font-size: calc(7px + 8 * (100vw / 1280));}

@media (min-width: 1400px) and (max-width: 2000px) {p.cookie {font-size: 14px;}}
@media (min-width: 576px){
  #cookie_alert.show{display: flex; background-color: rgba(255, 255, 255, 0.699);}
}

@media (max-width: 575px){
  #cookie_alert.show{
      display: block;
      text-align: left;
      background-color: rgba(255, 255, 255, 0.925);
  }
}

.cookie_butt {
  background-color: #5b3296;
  color: #fff;
  font-family: 'pixel', sans-serif;
  display: inline-block;
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 4px;
  font-size: calc(6px + 6 * (100vw / 1280));
  line-height: 30px;
  transition: 1.2s;
}