main > .container {
    padding: 70px 15px 20px;
}

/* Тело */
body {
  color:white;
  display: flex;
  background-image: url("/web/img/3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2E222F;
  height: 100%;
  width: 100%;
}

/* Шапка */
.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.5rem;
  justify-content: space-between;
}

#footer {
  background-color: #120c1dcb;
  color: #fff;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


table td {
  color: #fff !important;
  background-color: #120c1d70 !important;
}


table th {
  background-color: #120c1d70 !important;
  color: #fff !important;
}

table th:nth-child(1) {
  color: #fff;
}

.form-control {
  background-color: #120c1d70;
  color: #fff;
}


/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

a {
  color: #ffffff;
  text-decoration: none !important;
}

a:hover {
  color: #ffffff;
}


.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


li a{
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

li.breadcrumb-item.active {
  color: #cecece;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar {
  background-color: #120c1dcb;
}


/* Форма входа */
.mb-3.row.field-loginform-username.required,
.mb-3.row.field-loginform-password.required,
.col-form-label.mr-lg-3 {
    /* Так надо, чтобы не затрагивать стили */
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}


.bg-form {
  background-color: #0c09139a;
  padding: 15px;
  margin: 0 auto;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!! INDEX.PHP !!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.text {
  background-color: #120c1d9a;
  padding: 15px;
  text-indent: 25px;
  /* width: 75%; */
  margin: 0 auto;
}

div.text p {
  font-size: calc(10px + 8 * (100vw / 1280));
}

div.text p.cookie {
  font-size: calc(7px + 8 * (100vw / 1280));
}


@media (min-width: 1400px) and (max-width: 2000px) { 
  div.text p {
      font-size: 20px;
  }

  div.text p.cookie {
    font-size: 14px;
}

  .text {
      background-color: #120c1d9a;
      padding: 15px;
      text-indent: 25px;
      margin: 0 auto;
      width: 80%;
  }
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!! DIRECTORY.PHP !!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.accordion {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.accordion-header {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  fill: #fff !important;
}

.directory-photo {
  width: 800px;
  max-width: 100%;
  height: auto;
}